.vs/
*.user
*.suo
*.db
*.opendb
A-Star-Pathfinding/A-Star-Pathfinding/v17/
*.ipch
*.obj
*.ilk
*.recipe
*.pdb

bin/
A-Star-Pathfinding/bin/
A-Star-Pathfinding/A-Star-Pathfinding/bin/

*.exe

*.dll
*.lib

!Dependencies/
!Dependencies/**
!Dependencies/**/*.dll
!Dependencies/**/*.lib